/#configuration.org#
/configuration.el
/eln-cache/
/elpaca/
/eshell/
/tramp
/auto-save-list/
/projectile-bookmarks.eld
/projectile.cache
/transient/
/projects
/forge-database.sqlite
/.configuration.org.~undo-tree~
/ltximg/
/init.el.rej
/.cache/
/.configuration.el.~undo-tree~
/.init.el.~undo-tree~
/.lsp-session-v1
/chatgpt/
/configuration.el~
/elpa/
/parinfer-rust/
var/
/configuration.org~
/etc/
/tree-sitter/
/dall-e/
/eglot-java-eclipse-jdt-cache/
/share/
/minimal.el
*.elc
/elpy/
/config.el
/early-init.el
/undo-fu-session/
/recentf
/history
/forge-database-v11-20240131-1311.sqlite
/org-roam.db
/session.105d11385062304c8e170663353452388000000030810099
/url/
/.dap-breakpoints
/session.*
/bookmarks
/.org-id-locations
/tutorial/
