/#configuration.org#
/configuration.el
/eln-cache/
/elpaca/
/eshell/
/tramp
/auto-save-list/
/projectile-bookmarks.eld
/projectile.cache
/transient/
/projects
/forge-database.sqlite
/.configuration.org.~undo-tree~
/ltximg/
/init.el.rej
/.cache/
/.configuration.el.~undo-tree~
/.init.el.~undo-tree~
/.lsp-session-v1
/chatgpt/
/configuration.el~
/elpa/
/parinfer-rust/
var/
/configuration.org~
/etc/
/tree-sitter/
/dall-e/
/eglot-java-eclipse-jdt-cache/
/share/
/minimal.el
*.elc
/elpy/
